<!Doctype html>
    <style>
      .html{
        width: fit-content;
      }
    .card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  width: calc(90% / 3);
  margin-bottom: 5%;
  margin:10px;
  justify-self: space-evenly;
  
}
#big-cont{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.photos{
  width: 140px;
  padding-right: 15px;
}
/* Add some padding inside the card container */
.container {
  width: 80%;
  border-radius: 5%;
}
   
    
    </style>
  
    
<script> 
  


// Show the div when the page is clicked

 function showCont(event) { 
  document.getElementByClassName('container').style.display = 'block';
};

document.getElementByClassName('tags').style.position = '';
  
  </script>
<% 
const tags = {title: 'this is title', timing: 'this shows timing', snippet: 'this is the snippet' };%>
<% function styler(){ %>
  
<% } %>
</script>
<div id="big-cont">
  <div class="card">
    <div><img src="http://localhost:8080/public/Samsung%20Expands%208K%2C%20MicroLED%2C%20Big-Screen%20TV%20Options.jpg" class="photos"></div>
    <div class="container">
      <h4><b><%= tags.title %></b></h4>
      <p><%= tags.timing %></p>
      <p><%= tags.snippet %></p>

    </div>
  </div>

  <div class="card">
    <div><img src="http://localhost:8080/public/2149176716.jpg" class="photos"></div>
    <div class="container">
      <h4><b><%= tags.title %></b></h4>
      <p><%= tags.timing %></p>
      <p><%= tags.snippet %></p>

    </div>
  </div>


  <div class="card">
    <div><img src="http://localhost:8080/public/Morning%20Coffee%20%26%20Journal4.jpg" class="photos" ></div>
    <div class="container">
      <h4><b><%= tags.title %></b></h4>
      <p><%= tags.timing %></p>
      <p><%= tags.snippet %></p>

  
    </div>
  </div>

</div>
</html>